<div class="ffcanvas-lg offcanvas-start sidebar-custom text-white vh-100" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel" style="width: 280px; position: fixed;">
  

  <div class="offcanvas-body d-flex flex-column p-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none fs-4 d-none d-lg-flex">
      <img src="/logo_ecommerce.png" alt="Logo E-commerce Vini" class="logo">
    </a>
     @if (!auth.grant().isSeller) {
    <hr class="d-none d-lg-block">
     }
    <ul class="nav nav-pills flex-column mb-auto">
       @if (!auth.grant().isSeller) {
      <li class="nav-item">
        <a href="/" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-house-door me-2"></i> Home
        </a>
      </li>
      <li>
        <a href="/alcolici" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-journal-album me-2"></i> Catalogo Alcolici
        </a>
      </li>
      <li>
        <a href="/catalogo-cantine" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-cart me-2"></i> Catalogo Cantine
        </a>
      </li>
      }


      @if (auth.grant().isCustomer) {
<li>
        <a href="/carrello" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-cart me-2"></i> Carrello
        </a>
      </li>
      <li>
        <a href="/gestione-ordine" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-receipt me-2"></i> Gestione Ordini
        </a>
      </li>
      }
      @if(auth.grant().isAdmin) {

      <li>
        <a href="/gestione-utenti" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-cart me-2"></i> Gestione Utenti
        </a>
      </li>
    }
    </ul>

    @if(auth.grant().isSeller) {
<hr>

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a [routerLink]="['/catalogo-cantine']" [queryParams]="{ filtro: 'mie' }" routerLinkActive="active" class="nav-link text-white" style="cursor: pointer;">
          <i class="bi bi-house-door me-2"></i> Le mie cantine
        </a>
      </li>
      <li>
        <a href="/gestione-spedizione" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-cart me-2"></i> Gestione Spedizioni
        </a>
      </li>
    </ul>
    }
    <hr>
    @if(auth.grant().isLogged) {
      <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
      <a
        class="nav-link text-white"
        style="cursor: pointer;"
        (click)="profile()"
      >
        Profilo
      </a>
      </li>
      <li class="nav-item">
  <a
    class="nav-link text-white d-inline-flex align-items-center gap-2"
    style="cursor: pointer;"
    (click)="logout()"
  >
    <span>Logout</span>
    <mat-icon class="align-middle">logout</mat-icon>
  </a>
</li>
      </ul>
    }
    

    @if(!auth.grant().isLogged) {
<ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/registration" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-house-door me-2"></i> Registrazione
        </a>
      </li>
      <li>
        <a href="/login" routerLinkActive="active" class="nav-link text-white">
          <i class="bi bi-journal-album me-2"></i> Login
        </a>
      </li>
    </ul>
    }
    
  </div>
</div>