<div class="mt-4 row g-3">
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
  <h3 class="section-title-underlined">I nostri box</h3>
    @if(auth.grant().isSeller) {
      <app-card-add-box [idCantina]="idCantina"></app-card-add-box>
  }
</div>
    @for (boxCantina of (listBoxCantina | async); track boxCantina.id){
       <div class="col-12 col-sm-6 col-md-4 col-lg-3">
       <div class="card-badge-wrapper">
        <app-box-elimina [box]="boxCantina" [idCantina]="idCantina"></app-box-elimina>
        @if (idCantina != undefined) {
        <app-card-box [box]="boxCantina" [idCantina]="idCantina"></app-card-box>
        }
        </div>
        </div>
    }
</div>