.immagine-not-found {
  max-width: 460px;
  width: 100%;
  height: auto;
}

.bottone-home {
  background-color: #6e0c18;
  border-color: #6e0c18;
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
}

.bottone-home:hover {
  background-color: #58090f;
  border-color: #58090f;
  color: #ffffff;
}
