.bottone-nuovo {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #6e0c18;
  border-color: #6e0c18;
  color: #ffffff;
}

.bottone-nuovo:hover {
  background-color: #58090f;
  border-color: #58090f;
  color: #ffffff;
}

.icona-nuovo {
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
}
