<div class="mt-4">
  <h3 class="section-title-underlined">I nostri alcolici</h3>

  <div class="mt-4">
     @for (alcolicoCantina of listCantinaALcolico(); track alcolicoCantina.id) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
       <div class="card-badge-wrapper">
    
    <div class="badge-quantita">
      x{{ alcolicoCantina?.quantita }}
    </div>

    <app-card-alcolico [alcolico]="alcolicoCantina?.alcolico"></app-card-alcolico>
@if(auth.grant().isCustomer) {
<app-quantita-selector
              [quantitaMassima]="alcolicoCantina?.quantita ?? 1"
              (aggiungiCarrello)="onAggiungiCarrello(alcolicoCantina, $event)">
            </app-quantita-selector>
}
        </div>
        </div>
     }
  </div>

</div>