.alcolico-card {
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  }
}

.alcolico-img {
  height: 200px; 
  object-fit: contain; 
  width: 100%; 
  background-color: #f8f9fa; 
  padding: 1rem; 
}

.card-group, .row-cols-1 .col {
  display: flex;
}
.prezzo {
  font-size: 1.1rem;
  color: #6E0C18;
}


.star-icon {
  color: #6E0C18; /* stesso colore del location-icon, per coerenza */
  font-size: 1.1rem;
  width: 1.1rem;
  height: 1.1rem;
}
