<div class="mt-4">
    <h3 class="section-title-underlined">Box</h3>
    
    <div class="mt-4 row g-3">
        @for (prodottoBox of listProdottoBox; track prodottoBox.id){
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-badge-wrapper">

                <div class="badge-quantita">
                x{{ prodottoBox['quantità'] }}
                </div>

                <app-card-box [box]="prodottoBox.box"></app-card-box>
                        <div class="quantity-picker-custom mt-3">
            <button 
              type="button" 
              class="btn-qty"
              (click)="rimuoviPezzo(prodottoBox)"
            >
              -
            </button>
            
            <span class="qty-number">
              {{ prodottoBox['quantità'] }}
            </span>
          </div>

        </div>
      </div>
            }

    </div>
</div>
